<footer class="bg-secondary p-3">
    <div class="row mt-5">
        <div class="col-lg-4 col-md-6">
            <h2 class="text-center">Links</h2>
            <ul class="list-unstyled text-center">
                <li class="py-2"><a href="" class="text-white h5">Home</a></li>
                <li class="py-2"><a href="" class="text-white h5">Shop</a></li>
                <li class="py-2"><a href="" class="text-white h5">Privety</a></li>
                <li class="py-2"><a href="" class="text-white h5">dfdsf</a></li>
                <li class="py-2"><a href="" class="text-white h5">Hosasfsme</a></li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-6">
            <h2 class="text-center">Toutorials</h2>
            <ul class="list-unstyled text-center">
                <li class="py-2"><a href="" class="text-white h5">Home</a></li>
                <li class="py-2"><a href="" class="text-white h5">Shop</a></li>
                <li class="py-2"><a href="" class="text-white h5">Privety</a></li>
                <li class="py-2"><a href="" class="text-white h5">dfdsf</a></li>
                <li class="py-2"><a href="" class="text-white h5">Hosasfsme</a></li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-6">
            <h2 class="text-center">Coming with Us</h2>
            <div class="d-flex justify-content-around mt-3">
                <a href=""><i class="fa-2x fa-brands fa-facebook bg-primary text-white rounded-circle p-1"></i></a>
                <a href=""><i class="fa-2x fa-brands fa-twitter text-light bg-primary rounded-circle p-1"></i></a>
                <a href=""><i class="fa-2x fa-brands fa-instagram text-danger bg-white rounded-circle  p-1"></i></a>
                <a href=""><i class="fa-2x fa-brands fa-github text-info bg-white rounded-circle p-1"></i></a>
            </div>
            <h3 class="text-center mt-5 mb-4">Enter Your email to</h3>
            <form action="" class="form-inline d-flex justify-content-center">
                <input type="text" class="border-0 form-control" placeholder="Enter Your Emais Addres">
                <input class="border-0 btn btn-danger ml-2" value="send" type="submit">
            </form>
        </div>
    </div>
    <div class="container my-3 py-3 border-top border-bottom">
        <h2>My site</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam deleniti odio, explicabo inventore nihil id exercitationem, pariatur dolore quos aspernatur odit provident quia! Dolor ullam nesciunt dolorem numquam asperiores eligendi!</p>
    </div>
    
</footer>
<div class="text-center bg-info">
    <p class="m-0 p-1"> <span>&copy;</span> برای استفاده از مطالب دیجی‌کالا، داشتن «هدف غیرتجاری» و ذکر «منبع» کافیست. تمام حقوق اين وب‌سايت نیز برای شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی‌کالا) است.</p>
</div>