{% extends 'site/master.html' %}
{% load static %}

{% block title %}
{% endblock %}


{% block content %}
{% include 'site/navbar.html '%}
<!-- banner -->
<div id="slider">
    <div class="dp-wrap">
      <div id="dp-slider">
  
        
        {% for main in mainBanner %}  
        <div class="dp_item" data-class="{{main.id}}" data-position="{{main.id}}">
          <div class="dp-content">
  
            <h2 class="mx-auto">{{main.name}}</h2>
            <p class="mx-auto">{{main.dis}}</p>
            <a href="#" class="site-btn">Read More…</a>
          </div>

          <div class="dp-img">
            <img class="" src="{{main.img.url}}" alt="investing">
          </div>
        </div>
        {%endfor%}
      </div>
  
      <span id="dp-next">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.401 51.401">
          <defs>
            <style>
              .cls-1 {
                fill: none;
                stroke: gold;
                stroke-miterlimit: 10;
                stroke-width: 7px;
              }
            </style>
          </defs>
          <path id="Rectangle_4_Copy" data-name="Rectangle 4 Copy" class="cls-1" d="M32.246,0V33.178L0,31.953" transform="translate(0.094 25.276) rotate(-45)" />
        </svg>
      </span>
  
      <span id="dp-prev">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.401 51.401">
          <defs>
            <style>
              .cls-1 {
                fill: none;
                stroke: gold;
                stroke-miterlimit: 10;
                stroke-width: 7px;
              }
            </style>
          </defs>
          <path id="Rectangle_4_Copy" data-name="Rectangle 4 Copy" class="cls-1" d="M32.246,0V33.178L0,31.953" transform="translate(0.094 25.276) rotate(-45)" />
        </svg>
      </span>
  
      <ul id="dp-dots">
        <li data-class="1" class="active"></li>
        <li data-class="2"></li>
        <li data-class="3"></li>
        <li data-class="4"></li>
      </ul>
    </div>
  </div>
  <!-- banner end -->
  <!-- banner -->
  <div id="carouselId" class="carousel slide mt-4 myslider" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselId" data-slide-to="0" class="active"></li>
        <li data-target="#carouselId" data-slide-to="1"></li>
        <li data-target="#carouselId" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <a href=""><img class="img-fluid" src="{% static '1.jpg' %}" slid" alt="First slide"></a>
        </div>
        <div class="carousel-item">
            <a href=""><img class="img-fluid" src="{% static '1.jpg' %}" slide" alt="Second slide"></a>
        </div>
        <div class="carousel-item">
            <a href=""><img class="img-fluid" src="{% static '1.jpg' %}" slide" alt="Third slide"></a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
  </div>
   <!-- banner end -->
  <!-- items -->
  <section class="p-3 bg-black-2">
    <h1 class="text-center mt-4">Categories</h1>
    <div class="row p-3">
      {% for cat in category %}
      <div class="col-lg-3 col-md-6">
          <a href="/items/?typeActive={{cat.id}}">
            <div class=" m- p-3 border-0">
              <img class="img-fluid" src="{{cat.img.url}}" alt="">
              <h6 class="text-center mt-3">{{cat.name}}</h6>
            </div>
          </a>
        </div>
        {% endfor %}
    </div>
  </section>
  <!-- items end -->
  <!-- offs -->
  <div class="p-5 row mx-auto">
    {% for main in offBanner %}  
    <div class="col-md-6">
        <a href="">
            <img src="{{main.img.url}}" class="img-fluid rounded-lg w-100 h-100" alt="">
        </a>
    </div>
    {% endfor %}
  </div>
  <!-- offs end -->
  <!-- best sellers -->
  <h1 class="display-3 text-center my-5">Best Sellers This Weak</h1>
  <section class="row">
    <!-- <div class="col-lg-3 col-sm-6">
        <div class="card bg-black-2">
                <img class="w-75 mx-auto" src="{% static '1.jpg' %}" alt="">
            <div class="card-body text-center">
                <h4 class="card-title">Gaming Mouse</h4>
                <p class="card-text">Mouse RGB 1031</p>
            </div>
        </div>
    </div> -->


  </section>
  <!-- best sellers end -->
  {% include 'site/footer.html '%}
{% endblock %}